    <style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header h1 a {
    color: white; 
    text-decoration: none; 
}

.header h1 a:hover {
    color: white; 
    text-decoration: none; 
}

.header a {
    color: #808080; 
    text-decoration: none;
    margin-left: 20px; 
}

.header a:visited {
    color: #808080; 
}

.header a:active,
.header a:focus,
.header a:hover {
    color: white !important; 
    text-decoration: none; 
}

.header a.active {
    color: white; 
    text-decoration: underline; 
}

.main-section {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-section,
.competitions-section, 
.contact-section, 
.upcoming-section, 
.past-section {
    background-color: #f5f5f5;
    color: black;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    border-top: 1px solid #ddd;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-top: 1px solid transparent; 
    text-align: left;
    margin-top: 40px;
}

.footer a {
    color: #f52a2a; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.main-section a,
.about-section a,
.competitions-section a,
.footer a {
    color: #f52a2a; 
    text-decoration: none;
}

.main-section a:hover,
.about-section a:hover,
.competitions-section a:hover,
.footer a:hover {
    text-decoration: underline; 
}

.about-section h2 a,
.competitions-section h2 a,
.contact-section h2 a {
    color: black;
    text-decoration: none;
}

.about-section h2 a:hover,
.competitions-section h2 a:hover,
.contact-section h2 a:hover {
    text-decoration: underline;
}

.past-section li a {
    color: #f52a2a; 
    text-decoration: none; 
}

.past-section li a:visited {
    color: #f52a2a; 
}

.past-section li a:hover {
    text-decoration: underline; 
}
    </style>
