/* Section styles */
.about-section,
.staff-section {
  background-color: #f5f5f5;
  color: black;
  padding: 20px;
  margin: 20px auto; /* Center the sections horizontally */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%; /* Set the width to 100% of the viewport */
}

.header {
  background-color: rgb(134, 118, 118);
  color: rgb(15, 14, 14);
  display: flex;
  justify-content: center;  /* Centers the content horizontally */
  align-items: center;      /* Centers the content vertically */
  gap: 20px;                /* Adds space between items */
  padding: 20px;            /* Optional: adds some padding around the header */
}

.footer {
  background-color: rgb(134, 118, 118);
  color: rgb(15, 14, 14);
  display: flex;
  justify-content: center; 
  align-items: center;      
  gap: 20px;                
  padding: 20px;           
}

.footer a {
  color:white
}

.upcoming-comps-section,
.past-comps-section,
.faq-section,
.contact-section {
  background-color: #f5f5f5;
  color: black;
  text-align: left;
  padding: 20px;
  margin: 20px auto; /* Center the sections horizontally */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%; /* Set the width to 100% of the viewport */
}

.form-section {
  max-width: 600px;
  margin: 40px 0; /* Remove auto centering */
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.form-section h1 {
  text-align: left;
  margin-bottom: 20px;
}
